.ema{
  font-family: cursive;
  font-weight: bold;
}

.abcd{
  font-size: 30px;

}

body{
  padding-left:
}

img{
  margin-left:auto;
  margin-right: auto;
  display: block;
}
#image1{
    background-color: #fcf2f2;
}
#img1{

  height: 400px;
  width: 400px;
  border-radius: 231px;
}
#backclr{
  background-color:  #fcf2f2;
}

body{
  background: url('https://wallpaperaccess.com/full/1567665.png');
}
